<nav class="navbar navbar-expand-lg bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
            <a class="navbar-brand" routerLink="">Forms</a>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/templateform">TemplateDrivenForm<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form1">Form1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="form2">form2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reactiveform">ReactiveForm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="form3">Form3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="form4">Form4</a>
        </li>
      </ul>
    </div>
  </nav>
